In [ ]:
import pandas as pd
import os
import matplotlib.pyplot as plt

In [ ]:
pd.set_option('display.max_colwidth', None)

# Load hybel data

In [ ]:
path="../data"
hybel_df = pd.read_csv(os.path.join(path,"hybel.csv"))
hybel_df["area_range"]=round(hybel_df["area"],-1)
hybel_df.sort_values('date')

In [ ]:
rentout_hybel=hybel_df[(hybel_df["rent_out"]==True) & (hybel_df["date"]>='11-01-2022')]
rentout_hybel.sort_values('rent_date')

# Average rent out days

In [ ]:
from datetime import datetime

def str_to_datetime(date_str):
    return datetime.strptime(date_str, '%d-%m-%Y')

def delta_days(date1, date2):
    date1 = str_to_datetime(date1)
    date2 = str_to_datetime(date2)
    delta = date2 - date1
    return delta.days

delta_days('12-01-2022', '17-01-2022')

In [ ]:
rentout_days=rentout_hybel.apply(lambda x: delta_days(x.date, x.rent_date), axis=1)
rentout_days.mean()

In [ ]:
#rentout_hybel['rentout_days']=rentout_hybel.apply(lambda x: delta_days(x.date, x.rent_date), axis=1)
rentout_hybel['rentout_days']=rentout_hybel.apply(lambda x: delta_days(x.date, x.rent_date), axis=1)
rentout_hybel

In [ ]:
rentout_hybel['rentout_days'].describe()

In [ ]:
#fig = plt.figure(figsize =(10, 7))
plt.boxplot(rentout_hybel['rentout_days'], labels=['Rent out days'])

In [ ]:
plt.boxplot(rentout_hybel['price'], labels=['Rent'])

In [ ]:
rentout_hybel['price'].describe()

In [ ]:
#Average rent group by area
df_price_groupby=rentout_hybel.groupby(['area_range'])['price'].mean()

ax = df_price_groupby.plot(kind='bar');
ax.set_alpha(0.8)
ax.set_title("Average rent group by area")
ax.set_ylabel("Rent");
ax.set_xlabel("Area");
plt.show()

In [ ]:
#Average rent group by area
df_price_groupby=rentout_hybel.groupby(['area_range'])['rentout_days'].mean()

ax = df_price_groupby.plot(kind='bar');
ax.set_alpha(0.8)
ax.set_title("Average rent out days group by area")
ax.set_ylabel("Rent out days");
ax.set_xlabel("Area");
plt.show()

In [ ]:
rentout_hybel.groupby(['area_range']).size().plot(kind = "bar", xlabel="Area", ylabel="Number", title="Number of hybel group by area")

# Load house data

In [ ]:
path="../data"
house_df = pd.read_csv(os.path.join(path,"house.csv"))
house_df

In [ ]:
rentout_house=house_df[(house_df["rent_out"]==True) & (house_df["date"]>'11-01-2022')]
rentout_house=house_df[(house_df["rent_out"]==True)]
rentout_house

In [ ]:
rentout_days=rentout_house.apply(lambda x: delta_days(x.date, x.rent_date), axis=1)
rentout_days.mean()